@media (max-width: 1130px) {
	body {
		background-color: #fff;
	}

	.footer {
		&__wrapper {
			padding: 0 20px;
			height: 162px;

			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				"logo conf conf"
				"socials lang mail";
		}

		&__logo {
			grid-area: logo;
			align-self: end;
		}

		&__conf {
			grid-area: conf;
			align-self: end;
			text-align: center;
		}

		&__socials {
			grid-area: socials;
		}

		&__lang {
			grid-area: lang;
		}

		&__mail {
			grid-area: mail;
		}
	}

	.dashboard {
		flex-direction: column;
		width: 100%;
		min-height: auto;
		align-items: center;
	}

	.dashboard-files {
		width: 100%;
		min-height: 405px;
		position: relative;

		&__wrapper {
			display: grid;
			gap: 19px;
			grid-template-columns: repeat(2, 1fr);
		}

		&__report {
			grid-column: 2/3;
			grid-row: 1/2;
		}

		&__report-title {
			margin-top: 0;
		}

		&__info {
			min-height: auto;
			width: 100%;
			max-width: 522px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			gap: 19px;

			&__img {
				flex-basis: 50%;
				object-fit: contain;
			}

			&__text {
				text-align: left;
			}
		}

	}

	.dashboard-chat {
		width: 100%;

		&__body-wrapper {
			min-height: 365px;
		}
	}
}

@media (max-width: 790px) {
	.header {
		&__info {
			font-size: 1rem;
		}

		&__logo {
			img {
				width: 209px;
				height: auto;
			}
		}
	}
}

@media (max-width: 755px) {
	.header {
		&__wrapper {
			flex-wrap: wrap;
			padding: 1.25rem;
		}

		&__logo {
			flex-basis: 100%;

			img {
				width: 181px;
				height: auto;
			}
		}

		&__info {
			font-size: 0.875rem;
		}

		&__percent,
		.header__username-icon {
			display: none;
		}
	}
}

@media (max-width: 700px) {
	.dashboard-chat {
		&__message {
			margin: 0.5rem 0.2rem 0.5rem auto;
		}

		&__message,
		.dashboard-chat__content {
			max-width: 26rem;
		}
	}

}



@media (max-width: 620px) {

	.footer {
		&__wrapper {
			padding: 36px 20px;
			height: 292px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			align-items: flex-start;
		}

		&__logo,
		.footer__conf {
			align-self: auto;
		}

		&__logo img {
			height: 25px;
			width: auto;
		}

		&__conf {
			font-size: 14px;
		}
	}

	.dashboard-files {
		&__title {
			margin-bottom: 28px;
		}

		.document-name {
			font-size: 14px;
		}
	}

	.dashboard-chat {
		padding: 28px;

		&__top {
			flex-wrap: wrap;
		}

		&__body-welcome__text {
			font-size: 15px;
		}

		&__message,
		.dashboard-chat__content {
			max-width: 22rem;
			font-size: 14px;
		}

		&__sender,
		&__status-time {
			font-size: 14px;
		}

		&__sender {
			bottom: -29px;
		}
	}
}

@media (max-width: 548px) {
	.dashboard-chat {

		&__message,
		.dashboard-chat__content {
			max-width: 16rem;
		}

		&__avatar {
			width: 35px;
			height: auto;
		}
	}
}

@media (max-width: 535px) {
	.dashboard-files {
	
	position: absolute;}
	.container {
		padding: 0;
	}

	.header {
		&__wrapper {
			padding: 20px;
		}
	}

	.footer {
		background-color: #fff;
	}

	.dashboard {
		margin-bottom: 0;
	}

	.dashboard-files {
		&__mobile-only {
			z-index: 2;
			width: 100%;
			display: flex;
			gap: 12px;
			justify-content: start;
			padding: 0 20px;

			&__item {
				font-size: 14px;
				font-weight: 600;
				padding: 12px;
				border-radius: 4px;
				background-color: #CBCBCB;
				display: flex;
				align-items: center;

				span {
					margin-right: 10px;
				}

				img {
					display: inline-block;
				}
			}
		}
	}

	.active-media {
		background-color: #fff;
		border: 1px solid #EE26C2;
	}

	.active-report {
		background-color: #fff;
		border: 1px solid #2676EE;
	}

	.dashboard-chat {
		box-shadow: none;
		padding: 0;
		position: relative;

		&__top {
			padding: 0 20px;
			margin-bottom: 15px;
		}

		&__top-more {
			position: absolute;
			right: 0;
			top: 0;
		}

		&__body {
			border-radius: 0;
		}

		&__body-welcome__text {
			width: 271px;
		}

		&__body-buttons {
			flex-direction: column-reverse;
			align-items: end;
			font-size: 14px;
			padding: 0 20px;
		}

		&__body-buttons__first,
		.dashboard-chat__body-buttons__second {
			font-size: 14px;
			padding: 12px 22px;
			max-width: 189px;
		}

		&__bottom {
			margin: 0 20px 30px;
			width: auto;
		}

		&__bottom-input::placeholder {
			font-size: 13px;
		}
	}
}

@media (max-width: 364px) {
	.dashboard-chat {
		&__top-name {
			font-size: 12px;
		}

		&__body-welcome__text {
			font-size: 14px;
		}

		&__bottom-input::placeholder {
			font-size: 12px;
		}
	}
}