@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		height: 107px;
	}

	&__logo {
		margin-right: auto;
	}

	&__percent,
	&__username {
		margin-right: 26px;
		display: flex;
		align-items: center;
	}

	&__percent-icon,
	&__username-icon {
		margin-right: 10px;
	}

	&__settings {
		margin-right: 12px;
	}
}

.footer {
	background-color: #EBEBEB;
	color: #525252;
	font-size: 0.9375rem;
	font-weight: 500;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 95px;
	}

	&__mail {
		display: flex;
		gap: 12px;
	}

	&__lang {
		display: flex;
		gap: 12px;

		img,
		p {
			cursor: pointer;
		}
	}

	&__lang-ru {
		color: #EE26C2;
	}

	&__socials {
		display: flex;
		gap: 12px;
	}
}


.dashboard {
	display: flex;
	gap: 30px;
	width: 100%;
	max-width: 1200px;
	min-height: 709px;
	margin-bottom: 60px;
}

.dashboard-files,
.dashboard-chat {
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.dashboard-files {
	width: 295px;
	padding: 28px 20px;

	&__info {
		margin-top: 46px;
		width: 261px;
		min-height: 413px;

		&__img {
			margin-bottom: 30px;
			height: 314px;
			object-fit: cover;
		}

		&__text {
			text-align: center;
		}
	}
}

.dashboard-chat {
	padding: 0 28px 28px;
	display: flex;
	flex-direction: column;
	width: 875px;

	&__top {
		min-height: 85px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__top-title {
		margin-right: auto;
	}

	&__top-name {
		display: flex;
		gap: 10px;
		font-size: 0.9375rem;
		margin-right: 26px;

		&__first {
			font-weight: 600;
		}

		&__second {
			font-weight: 400;
			color: #525252;
		}
	}

	&__body {
		flex-grow: 1;
		background-color: #EBEBEB;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
	}

	&__body-wrapper {
		height: 100%;
		max-height: 369px;
		position: relative;
		overflow: hidden
	}

	&__body-welcome,
	.dashboard-chat__body-append {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 369px;
		transition: opacity 0.2s ease;
	}

	&__body-append {

		overflow-y: auto;
		scrollbar-gutter: stable;

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #B5B5B5;
			border-radius: 54px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}
	}

	&__message {
		background-color: #fff;
		border-radius: 20px;
		padding: 16px 22px;
		width: 541px;
		margin: 40px 26px 40px auto;
		position: relative;
	}

	&__message-time {
		position: absolute;
		bottom: -28px;
		right: 0;
		color: #525252;
		font-size: 0.9375rem;
		font-weight: 400;
	}

	&__body-welcome {

		&__img {
			margin: 50px auto 20px;
		}

		&__text {
			text-align: center;
			width: 470px;
			margin: 0 auto 57px;
		}

	}

	&__body-buttons {
		display: flex;
		gap: 12px;
		margin: 20px 0 20px 20px;

		&__first,
		.dashboard-chat__body-buttons__second {
			border: none;
			color: #fff;
			padding: 12px 22px;
			border-radius: 21px;
			font-size: 1rem;
			font-weight: 600;
		}

		&__first {
			background-color: #EE26C2;
		}

		&__second {
			background-color: #2676EE;
		}
	}

	&__bottom {
		width: 100%;
		min-height: 146px;
		flex-grow: 1;
		border-radius: 20px;
		border: 2px solid #EBEBEB;
		background-color: #fff;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		transition: border-color 0.2s ease;

		&:focus-within {
			border-color: #EE26C2;
		}
	}

	&__bottom-input {
		padding: 22px 18px;
		border-radius: 20px;
		border: none;
		outline: none;

		&::placeholder {
			color: #525252;
			font-weight: 400;
			font-size: 0.9375rem;
			line-height: 135%;
		}
	}

	&__bottom-buttons {
		display: flex;
		padding: 0 18px;

		&__add {
			display: flex;
			gap: 20px;
			align-items: end;
			padding-bottom: 20px;
		}

		&__enter {
			margin-left: auto;
			font-weight: 400;
			font-size: 10px;
			line-height: 135%;

			img {
				margin-bottom: 2px;
			}
		}
	}
}






@import 'media';