@import 'fonts';
@import 'reset';
@import 'global';


.header {

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.25rem;
		height: 6.6875rem;
	}

	&__logo {
		margin-right: auto;
		cursor: pointer;
	}

	&__info{
		font-size: 1.125rem;
		font-weight: 600;
	}

	&__percent,
	&__username {
		margin-right: 1.625rem;
		display: flex;
		align-items: center;
	}

	&__percent-icon,
	&__username-icon {
		margin-right: 0.624rem;
	}

	&__icons,
	.header__info{
		display: flex;
		align-items: center;
	}

	&__settings {
		margin-right: 0.75rem;
	}

	&__settings-icon,
	.header__exit-icon {
		cursor: pointer;
	}
}

.footer {
	background-color: #EBEBEB;
	color: #525252;
	font-size: 0.9375rem;
	font-weight: 500;

	&__wrapper {
		height: 5.9375rem;
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		align-items: center;
	}

	&__mail {
		display: flex;
		gap: 0.75rem;
	}

	&__lang {
		display: flex;
		gap: 0.75rem;

		img,
		p {
			cursor: pointer;
		}
	}

	&__lang-ru {
		color: #EE26C2;
	}

	&__socials {
		display: flex;
		gap: 0.75rem;
	}
}

.dashboard {
	display: flex;
	gap: 1.875rem;
	width: 100%;
	max-width: 1200px;
	min-height: 44.3125rem;
	margin-bottom: 3.75rem;
}

.dashboard-files,
.dashboard-chat {
	background: #fff;
	border-radius: 1.25rem;
	box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.08);
}

.dashboard-files {
	width: 18.4375rem;
	padding: 1.75rem 1.25rem;

	&__info {
		margin-top: 2.875rem;
		width: 16.3125rem;
		min-height: 25.8125rem;

		&__img {
			margin-bottom: 1.875rem;
			height: 19.625rem;
			object-fit: cover;
		}

		&__text {
			text-align: center;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		padding: 1.875rem 0;
	}

	&__media,
	&__report {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	&__media-title,
	&__report-title {
		margin-bottom: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__report-title {
		margin-top: 1.875rem;
	}

	&__media-arrow {
		transition: transform 0.3s ease;

		&.collapsed {
			transform: rotate(-180deg);
		}
	}

	&__media-document {
		height: 2.625rem;
		display: flex;
		align-items: center;
		background-color: #f5f5f5;
		display: flex;
		justify-content: space-between;
	}

	&__note {
		font-size: 0.75rem;
		font-weight: 400;
	}
}

.dashboard-chat {
	padding: 0 1.75rem 1.75rem;
	display: flex;
	flex-direction: column;
	width: 54.6875rem;

	&__top {
		min-height: 5.3125rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__top-title {
		margin-right: auto;
	}

	&__top-name {
		display: flex;
		gap: 0.625rem;
		font-size: 0.9375rem;
		margin-right: 1.625rem;

		&__first {
			font-weight: 600;
		}

		&__second {
			font-weight: 400;
			color: #525252;
		}
	}

	&__top-more {
		position: relative;
	}

	&__top-more__inner {
		position: absolute;
		right: 0;
		top: 3.0625rem;
		padding: 0.5rem 0;
		text-align: right;
		border-radius: 0.5rem;
		background-color: #fff;
		box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.08);
		width: 20.75rem;
		font-size: 1rem;
		font-weight: 500;
		color: #000;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		z-index: 2;
	}

	&__top-more__inner-item {
		padding: 0.5rem 1.875rem;
	}

	&__top-more__inner-item:hover {
		color: #EE26C2;
		cursor: pointer;
	}

	&__body {
		flex-grow: 1;
		background-color: #EBEBEB;
		border-radius: 1.25rem;
		display: flex;
		flex-direction: column;
	}

	&__body-wrapper {
		height: 100%;
		max-height: 23.0625rem;
		position: relative;
		overflow: hidden
	}

	&__body-welcome,
	.dashboard-chat__body-append {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 23.0625rem;
		transition: opacity 0.2s ease;
	}

	&__body-append {

		overflow-y: auto;
		scrollbar-gutter: stable;

		&::-webkit-scrollbar {
			width: 0.375rem;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #B5B5B5;
			border-radius: 3.375rem;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}
	}


	&__message {
		margin: 2.5rem 1.625rem 2.5rem auto;
	}

	&__message,
	.dashboard-chat__content {
		position: relative;
		background-color: #fff;
		border-radius: 1.25rem;
		max-width: 33.8125rem;
		padding: 1rem 1.375rem;
	}

	&__content {
		margin: 2.5rem auto 2.5rem 0.8125rem;
	}

	&__status {
		display: flex;
		align-items: center;
		margin-left: 1.25rem;
	}

	&__status-time,
	.dashboard-chat__message-time {
		position: absolute;
		bottom: -1.8125rem;
		color: #525252;
		font-size: 0.9375rem;
		font-weight: 400;
	}

	&__status-time {
		left: 2.4375rem;
	}

	&__message-time {
		right: 0;
	}

	&__sender {
		font-size: 1.125rem;
		font-weight: 600;
		position: absolute;
		bottom: -1.75rem;
		left: 0;
	}

	&__body-welcome {

		&__img {
			margin: 3.125rem auto 1.25rem;
		}

		&__text {
			text-align: center;
			width: 29.375rem;
			margin: 0 auto 3.5625rem;
		}

	}

	&__body-buttons {
		display: flex;
		gap: 0.75rem;
		margin: 1.25rem 0 1.25rem 1.25rem;

		&__first,
		.dashboard-chat__body-buttons__second {
			border: none;
			color: #fff;
			padding: 0.75rem 1.375rem;
			border-radius: 1.3125rem;
			font-size: 1rem;
			font-weight: 600;
		}

		&__first {
			background-color: #EE26C2;
		}

		&__second {
			background-color: #2676EE;
		}
	}

	&__bottom {
		width: 100%;
		min-height: 9.125rem;
		flex-grow: 1;
		border-radius: 1.25rem;
		border: 0.125rem solid #EBEBEB;
		background-color: #fff;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		transition: border-color 0.2s ease;

		&:focus-within {
			border-color: #EE26C2;
		}
	}

	&__bottom-input {
		padding: 1.375rem 1.125rem;
		border-radius: 1.25rem;
		border: none;
		outline: none;

		&::placeholder {
			color: #525252;
			font-weight: 400;
			font-size: 0.9375rem;
			line-height: 135%;
		}
	}

	&__bottom-buttons {
		display: flex;
		padding: 0 1.125rem;

		&__add {
			display: flex;
			gap: 1.25rem;
			align-items: end;
			padding-bottom: 1.25rem;
		}

		&__enter {
			margin-left: auto;
			font-weight: 400;
			font-size: 0.625rem;
			line-height: 135%;

			img {
				margin-bottom: 0.125rem;
			}
		}
	}
}






@import 'media';