<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__logo">
				<img width="219" height="32" src="images/logo.svg" alt="Логотип Pink Chicken">
			</div>
			<div class="header__info">
				<div class="header__percent">
					<img class="header__percent-icon" width="40" height="40" src="images/header-percent.svg"
						alt="Процент конвертации">
					<p class="header__percent-value">5%</p>
				</div>
				<div class="header__username">
					<img class="header__username-icon" width="40" height="40" src="images/header-user.svg"
						alt="Логин пользователя">
					<p class="header__username-lodin">Username@adaurum.ru</p>
				</div>
			</div>
			<div class="header__icons">
				<div class="header__settings">
					<img class="header__settings-icon" width="40" height="40" src="images/header-settings.svg" alt="Настройки">
				</div>
				<div class="header__exit">
					<img class="header__exit-icon" width="40" height="40" src="images/header-exit.svg"
						alt="Выход из личного кабинета">
				</div>
			</div>
		</div>

	</div>
</header>